:root {
  --white: rgba(255, 255, 255, 0.87);
  --text-white: blanchedalmond;
  --black: #242424;
  --primary: #646cff;
  --primary-light: #535bf2;
  --success: #14A44D;
  --error: #e53935;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

*, *::after, *::before{
  box-sizing: border-box;
  font-family: inherit;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

img{
  max-width: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-light);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}


.container{
  width: 90%;
  margin: 0 auto;
}

.input-field{
  padding: .5em ;
}
.btn{
  padding: .5em 1em;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: .06rem;
}

.btn-container{
  margin-top: 1em;
}

.loading{
  text-align: center;
  margin-top: 5em;
}

.success{
  background-color: var(--success);
  border-color: var(--success);
}

.error{
  background-color: var(--error);
  background-color: var(--error);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}


/* remove input filed increment/decrement btn */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}